body {
    background-color: whitesmoke;
    font-family:  "EB Garamond", Helvetica, Arial, sans-serif;
    margin: 0px;
    font-size: 1.5vw;
}

#grid-container{
    display: grid;
    grid-template-areas: 
    "header header"
    "filter gallary"
    "main-footer main-footer"
    "body-footer body-footer"
    ;
    /* grid-template-rows: auto auto 1fr auto auto; */
    grid-template-columns: 3fr 3fr;
    /* gap: 1rem; */
}

#main-header{
    grid-area: header;
    display: flex;
}

#filter-bar{
    grid-area: filter;
}

#jewellery-gallary{
    grid-area: gallary;
    /* display: flex;
    gap: 1rem;
    flex-wrap: wrap; */
}

#main-footer{
    grid-area: main-footer;
    padding: 1rem;
    text-align: center;
    background-color: antiquewhite;
}
#body-footer{
    grid-area: body-footer;
}

/* body > header {
    background-color: white;
    color: black;
    height: 12vh;
    align-items: center;
    justify-content: space-evenly;
} */
#nav-ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}
#nav-ul > li {
    padding: 2vw;
    
}
body > header > nav > ul {
    list-style: none;
    text-decoration: none;    
}

body > main > article {
    width: 70%;
    margin: auto;
}
#main-content {
    display: flex;
    justify-content: space-around;
}

#main-content > div {
    width: 70%;
}
 
.navbutton {
    color: black;
    text-decoration: none;
    padding: 12px;
    border: 1px solid Black;
    border-radius: 10%;
}

.filter-ul {
    list-style: none ;
    text-decoration: none;
}
.filter-ul > li {
    padding: 5px;
}
.filter-ul > li > a {
    text-decoration: none;
    color: black;
    /* border: 1px outset black; */
    border-style: outset;
}

form {
    text-align: center;
}
h2{
    text-align: center;
}
body > footer {
    background-color: white;
    display: flex;
}
#logo{
    margin: 0px;
    padding: 8px;
    font-family: "EB Garamond", sans-serif;
    width: 46%;
    
}
ul{
    margin: 0px;
}

img{
    border-radius: 10%;
}

#footer-ul{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
}

#footer-ul > div > li > a{
    text-decoration: none;
    color: black;
}
#footer-ul > div > li{
    margin-left: 5px;
}