

/* Document body css */
body {
    background-color: whitesmoke;
    font-family:  "EB Garamond", Helvetica, Arial, sans-serif;
    font-size: 1.5vw;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/* Header at the top of the page, containing logo and nav bar */
/* Navigation bar in header */
header > nav{
    position: fixed;
    z-index: 99;
    width: 100%;
    background: #242526;
}
.wrapper{
    position: relative;
    max-width: 1300px;
    padding: 0px 30px;
    height: 70px;
    line-height: 70px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.wrapper .logo a{
    color: #f2f2f2;
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
}
.wrapper .nav-links{
    display: inline-flex;
}
.nav-links li{
    list-style: none;
}
.nav-links li a{
    color: #f2f2f2;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 9px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
}
.nav-links li a:hover{
    background: #3A3B3C;
}
.nav-links .mobile-item{
    display: none;
}
.nav-links li:hover .mega-box{
    transition: all 0.3s ease;
    top: 70px;
    opacity: 1;
    visibility: visible;
}
.mega-box{
    position: absolute;
    left: 0;
    width: 100%;
    padding: 0 30px;
    top: 85px;
    opacity: 0;
    visibility: hidden;
}
.mega-box .content{
    background: #242526;
    padding: 25px 20px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}
.mega-box .content .row{
    width: calc(25% - 30px);
    line-height: 45px;
}
.content .row header{
    color: #f2f2f2;
    font-size: 20px;
    font-weight: 500;
}
.content .row .mega-links{
    margin-left: -40px;
    border-left: 1px solid rgba(255, 255, 255, 0.09);
}
.row .mega-links li{
    padding: 0 20px;
}
.row .mega-links li a{
    padding: 0px;
    padding: 0 20px;
    color: #d9d9d9;
    font-size: 17px;
    display: block;
}
.row .mega-links li a:hover{
    color: #f2f2f2;
}
.wrapper .btn{
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    display: none;
}
.wrapper .btn.close-btn{
    position: absolute;
    right: 30px;
    top: 10px;
}


@media screen and (max-width: 970px) {
    .wrapper .btn{
      display: block;
    }
    .wrapper .nav-links{
      position: fixed;
      height: 100vh;
      width: 100%;
      max-width: 350px;
      top: 0;
      left: -100%;
      background: #242526;
      display: block;
      padding: 50px 10px;
      line-height: 50px;
      overflow-y: auto;
      box-shadow: 0px 15px 15px rgba(0,0,0,0.18);
      transition: all 0.3s ease;
    }

    
    ::-webkit-scrollbar {
      width: 10px;
    }
    ::-webkit-scrollbar-track {
      background: #242526;
    }
    ::-webkit-scrollbar-thumb {
      background: #3A3B3C;
    }


    #menu-btn:checked ~ .nav-links{
      left: 0%;
    }
    #menu-btn:checked ~ .btn.menu-btn{
        display: none;
    }
    #close-btn:checked ~ .btn.menu-btn{
    display: block;
    }
    .nav-links li{
        margin: 15px 10px;
    }
    .nav-links li a{
        padding: 0 20px;
        display: block;
        font-size: 20px;
    }
    #showMega:checked ~ .mega-box{
        max-height: 100%;
    }
    .nav-links .desktop-item{
        display: none;
    }
    .nav-links .mobile-item{
        display: block;
        color: #f2f2f2;
        font-size: 20px;
        font-weight: 500;
        padding-left: 20px;
        cursor: pointer;
        border-radius: 5px;
        transition: all 0.3s ease;
    }
    .nav-links .mobile-item:hover{
        background: #3A3B3C;
    }

    .mega-box{
        position: static;
        top: 65px;
        opacity: 1;
        visibility: visible;
        padding: 0 20px;
        max-height: 0px;
        overflow: hidden;
        transition: all 0.3s ease;
      }
      .mega-box .content{
        box-shadow: none;
        flex-direction: column;
        padding: 20px 20px 0 20px;
      }
      .mega-box .content .row{
        width: 100%;
        margin-bottom: 15px;
        border-top: 1px solid rgba(255,255,255,0.08);
      }
      .mega-box .content .row:nth-child(1),
      .mega-box .content .row:nth-child(2){
        border-top: 0px;
      }
      .content .row .mega-links{
        border-left: 0px;
        padding-left: 15px;
      }
      .row .mega-links li{
        margin: 0;
      }
      .content .row header{
        font-size: 19px;
      }
}

nav input{
display: none;
} 
  

/* Grid container contains entire index.html in a grid layout */
#grid-container{
    display: grid;
    grid-template-areas:
    "slider slider"
    "nav-button nav-button"
    "gallery gallery"
    "main-footer main-footer"
    "body-footer body-footer"
    ;
}





/* Main logo of the page, found in the header and footer of the body*/
.logo{
    margin: 0px;
    padding: 8px;
    font-family: "EB Garamond", sans-serif;
    width:auto;   
}


/* Sliding images located beneath header */
.slider{
    grid-area: slider;
    width: 100%;
    height: 510px;
    position: relative;
    margin-top: 60px;
}
.slider img{
    width: 100%;
    height: 500px;
    position: absolute;
    top: 0;
    left: 0;
}
.slider img:first-child {
    z-index: 1;
}
.slider img:nth-child(2){
    z-index: 0;
}

/* Navigation buttons for the sliding images */
.navigation-button {
    text-align: center;
    position: relative;
    grid-area: nav-button;
}
/* Individual dots as navigation buttons */
.dot{
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}
/* Currently selected dot navigation button */
.active,
.dot:hover {
    background-color: #717171;
}


/* Jewellery gallery beneath sliding images, nested grid layout of images of products */
#jewellery-gallery{
    grid-area: gallery;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    padding: 1rem;
}
/* Each article element within the jewellery gallery */
.jewellery-item {
    background-color: whitesmoke;
    padding: 10px;
    text-align: center;
    position: relative;
    overflow: hidden;
    height: 300px;
}
/* Each image within articles of the jewellery gallery */
.jewellery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* Text overlaid onto images within the jewellery gallery */
.jewellery-item p {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    padding: 5px 10px;
    background-color: rgba(0,0,0,0.5);
    color: white;
    font-size: 1rem;
    border-radius: 5px;
}


/* Footer of the main section of the index.html page */
#main-footer{
    grid-area: main-footer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    text-align: center;
    background-color: rgba(245, 245, 245, 0.815);
}


/* Footer of the body section of the index.html page */
#body-footer{
    grid-area: body-footer;
    background-color: white;
    display: flex;
}
/* Navigation bar list within the footer */
#footer-ul{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
}
/* Navigation bar element within list */
#footer-ul > div > li{
    margin-left: 5px;
}
/* Navigation bar link within the footer */
#footer-ul > div > li > a{
    text-decoration: none;
    color: black;
}